<!-- <div class="contain">
        <div class="roa">
            <div class="contact-left">
                <h1 class="sub-titte">Contact Me</h1>
                <p><i class='bx bxl-gmail'></i> gmail.com</p>
                <p><i class='bx bxl-whatsapp'></i> 9952449391</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>

                </div>
                <a href="./../../assets/image/Sachin Resume (2).pdf" download class="btn">Download Cv</a>
            </div>
        
        </div>
    </div> -->

    <div id="Contact">
        <!-- <section class="contact section">
            <div class="container">
                <div class="row">
                    <div class="section-tittle paid-15">
                        <h2>Contact Me</h2>
                    </div>
                </div>
                <h3 class="contact-title padd-15">Have You Any Question ?</h3>
                <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICES</h4>
                <div class="row">
                   < --===============contact info start===============--- -->
        <!-- <div class="contact-info-item padd-15">
                        <div class="icon"><i class='bx bxl-whatsapp'></i></div>
                        <h4>Whatsapp ME</h4>
                        <p>+91 9952449391</p>
                    </div> -->
        <!----===============contact info end===============----->
        <!----===============contact info start===============----->
        <!-- <div class="contact-info-item padd-15">
                        <div class="icon"><i class='bx bxl-microsoft'></i></div>
                        <h4>Office</h4>
                        <p>Jhabmavan Software System </p>
                    </div> -->
        <!----===============contact info end===============----->
        <!----===============contact info start===============----->
        <!-- <div class="contact-info-item padd-15">
                        <div class="icon"><i class='bx bxl-gmail'></i></div>
                        <h4>Email</h4>
                        <p>ssachinsachin112gmail.com</p>
                    </div> -->
        <!----===============contact info end===============----->
        <!----===============contact info start===============----->
        <!-- <div class="contact-info-item padd-15">
                        <div class="icon"><i class='bx bxl-facebook'></i></div>
                        <h4>Facebook</h4>
                        <p>Chat Me Friendly</p>
                    </div> -->
        <!----===============contact info end===============----->
        <!-- </div>
                <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
                <h4 class="contact-sub-title padd-15">I'M VERY RESPOSIVE TO MESSAGES</h4> -->
        <!----===============Form===============----->
        <!-- <div class="contactForm">
                    <form>
    
                        <h2>Type Here</h2>
    
                        <div class="inputbox">
                            <input type="text" name="" required="">
                            <span>Your Name</span>
                        </div>
                        <div class="inputbox">
                            <input type="text" name="" required="">
                            <span>Email</span>
                        </div>
                        <div class="inputbox">
                            <textarea required="required"></textarea>
                            <span>Type your message...</span>
                        </div>
                        <div class="inputbox">
                            <button type="submit" class="btn">Send Message</button>
                      
                        </div> -->
        <!-- </form>
                </div>
            </div>
        </section> -->
        <section class="contact">
            <div class="contact-form">
                <h1>Contact<span>Us</span></h1>
                <p>I am available for freelance Work.Connect with me via phone:9952449391 or Email :
                    ssachinsachin113gmail.com</p>
                <form action="">
                    <input type="" placeholder="Your Name" required>
                    <input type="" name="" id="" placeholder="E-mail" required>
                    <input type="" placeholder="Write a Subject" required>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required>
    
                </textarea>
                    <input type="Submit" name="" value="Submit" class="btn">
                </form>
            </div>
            <div class="contact-img">
                <img src="./../../assets/image/contact.jpg">
            </div>
        </section>
    </div>

