<div id="Skills">
    <div class="inner">
        <div class="head">
            <h1>My Skills</h1>
        </div>
        <div class="containr">
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="./../../assets/image/html.png" class="skill-icon">
                    </div>
                    <h3>Html 5</h3>
                </div>
                <p> (Hypertext Markup Language)Fundamental for structuring content on the web.</p>
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="./../../assets/image/css.png" class="skill-icon">
                    </div>
                    <h3>Css 3</h3>
                </div>
                <p>(Cascading Style Sheets)Used for styling & layoutof Webpage.These languages are used to structure and style web content..</p>
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="./../../assets/image/sass.png" class="skill-icon">
                    </div>
                    <h3>Sass</h3>
                </div>
                <p>Used for styling and layout of web pages. Knowledge of preprocessors like Sass or Less is beneficial..</p>
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="./../../assets/image/java.png" class="skill-icon">
                    </div>
                    <h3>JavaScript</h3>
                </div>
                <p> Essential for adding interactivity and dynamic behavior to web pages.</p>
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="./../../assets/image/angular.jpg" class="skill-icon">
                    </div>
                    <h3>Angular2.0</h3>
                </div>
                <p>Angular 2.0 was a complete rewrite of AngularJS </p>
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="./../../assets/image/GitHub.png" class="skill-icon">
                    </div>
                    <h3>Github</h3>
                </div>
                <p>Source code available .</p>
            </div>
        </div>
    </div>
    </div>
    

